<!DOCTYPE html>
<html land = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Hola mundo con Vue JS</title>
    </head>
    <body>
<!-- Todos los componentes en vue deben de ir dentro de un container -->
        <div id="app">
            <h1>{{titulo}}</h1>
<!-- v-model permite hacer una conexion directa entre el html y el js -->
            <h5>Ingrese un nuevo Tema: </h5><input type="text" v-model = "nuevoTema">
            <h5>Ingrese una nueva Fecha: </h5><input type="text" v-model = "nuevaFecha">
            <h5>El tema ya ha sido observado?</h5><input type="checkbox" checked="true" v-model= "TemaEstudiado" @keyup.enter="agregarTema"/>
            <br>
            <button @click="agregarTema">Agregar Tema</button>
<!-- Imprimiendo el array utilizando un for-->
            <ul>
                <li v-for="tema of temas">{{tema.unidad}}, fecha: {{tema.fecha}}
                    <input type = "checkbox" checked= "true" v-model.boolean= "tema.estado">
                    <span v-if="tema.estado === true"> - Observado</span>
                </li>
            </ul>
            <h3>Total de temas: {{sumarTemas}}</h3>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="holaMundo.js"></script>
    </body>

</html>